<h1>Home Page</h1>
<%= link_to('Person Details', people_path)%><br />
<%= link_to('Address Details', addresses_path)%><br />
<%= link_to('Email Details', emails_path)%><br />
<%= link_to('Phone Number Details', phone_numbers_path)%><br />
