<h1>Edit Page</h1>
<%= link_to('Back to Home', {controller: 'main', action: 'index'}) %><br />

<div>
    <h2>Edit Person</h2>

    <%= form_for(@person) do |p| %>
        <% # url: person_path(@person), method: 'patch' %>
        
        <%= render(partial: 'form', locals: {p: p}) %>

        <div class="form-buttons">
            <%= p.submit("Edit Task")%>
        </div>

    <% end %>
</div>