<h1>New Page</h1>
<%= link_to('Back to Home', {controller: 'main', action: 'index'}) %><br />

<div>
    <h2>Create a Person</h2>

    <%= form_for(@person) do |p| %>

        <%= render(partial: 'form', locals: {p: p}) %>

        <div>
            <%= p.submit("Create Person")%>
        </div>

    <% end %>
</div>