<table class="table table-striped">
    <tr>
      <th>Person ID</th>
      <td><%= p.number_field(:person_id)%></td>
    </tr>
    <tr>
      <th>Phone Number</th>
      <td><%= p.text_field(:phone_number)%></td>
    </tr>
    <tr>
      <th>Comment</th>
      <td><%= p.text_field(:comment)%></td>
    </tr>
</table>