<h1>Delete Page</h1>
<%= link_to('Back to Phone Number List', phone_numbers_path, class: "btn btn-primary") %><br />

<div>
    <h2>Delete Phone Number</h2>

    <%= form_for(@phone_number, method: 'delete') do |p| %>
        <% # url: person_path(@phone_number). method: 'delete'%>
        <p>Are you sure you want to delete this phone number permanently? </p>
        <p><%= @phone_number.phone_number %></p>

        <div class="form-buttons">
            <%= p.submit("Delete phone number", class: "btn btn-primary")%>
        </div>

    <% end %>
</div>
