
<h1>Edit Page</h1>
<%= link_to('Back to Address List', addresses_path, class: "btn btn-primary") %><br />

<div>
    <h2>Edit Address</h2>
    <h4>Person ID corresponds to the Person table</h4>
    <%= form_for(@address) do |a| %>
        <%= render(partial: 'form', locals: {a: a}) %>

        <div class="form-buttons">
            <%= a.submit("Edit Address", class: "btn btn-primary")%>
        </div>

    <% end %>
</div>
