<table class="table table-striped">
    <tr>
      <th>Person ID</th>
      <td><%= e.number_field(:person_id)%></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= e.text_field(:email_address)%></td>
    </tr>
    <tr>
      <th>Comment</th>
      <td><%= e.text_field(:comment)%></td>
    </tr>
</table>